<div class="container">
    <h1 class="col-sm-12">Login</h1>
    <div class="col-sm-6">

        <div class="col-sm-12">
            <label class="col-sm-3">Username</label>
            <input class="form-control" type="text" ng-model="username"/>
        </div>

        <div class="col-sm-12">
            <label class="col-sm-3">Password</label>
            <input class="form-control" type="password" ng-model="password"/>
        </div>

        <div class="col-sm-12">
            <a class="btn btn-default" href="#" ng-click="login()">Login</a>
        </div>

    </div>
</div>