<md-dialog add-item-dialog ng-cloak class="add-dialog">
    <md-dialog-content class="md-dialog-content">

        <h2 class="md-title">Add Appliance</h2>

        <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
            <i class="material-icons">error_outline</i>
            <span>&nbsp; All fields are required.</span>
        </p>

        <form name="item.form" ng-submit="create()">
            <div layout="row" class="input-row">
                <md-input-container flex>
                    <label>Name</label>
                    <input name="name" ng-model="appliance.name" required>
                </md-input-container>
            </div>
            <div layout="row" class="input-row">
                <md-input-container flex>
                    <label>Hostname</label>
                    <input name="hostname" ng-model="appliance.hostname" required>
                </md-input-container>
            </div>
            <div layout="row" class="input-row">
                <md-input-container flex>
                    <label>IPv4 Address</label>
                    <input name="ipv4-address" ng-model="appliance.ipv4Address" md-maxlength="15" required>
                </md-input-container>
            </div>
            <div layout="row" class="input-row">
                    <md-input-container flex class="autocomplete">
                        <label>Owner</label>
                        <md-contact-chips
                                ng-model="appliance.owners._embedded.users"
                                md-contacts="asyncSearch($query)"
                                md-contact-name="firstName"
                                md-contact-image="image"
                                md-contact-email="email"
                                md-require-match="true"
                                md-highlight-flags="i"
                                filter-selected="true"
                                placeholder="Owner">
                        </md-contact-chips>
                    </md-input-container>
            </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="create()" ng-disabled="item.form.$invalid">Submit</md-button>
        <md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>

</md-dialog>