<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
        <div class="md-toolbar-tools">
            <span>Appliances</span>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon>search</md-icon>
                <md-tooltip md-delay="500">Search</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="getAll()">
                <md-icon>refresh</md-icon>
                <md-tooltip md-delay="500">Refresh</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="add()">
                <md-icon>library_add</md-icon>
                <md-tooltip md-delay="500">Add</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="delete()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- table -->
    <md-table-container>
        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="pageRequest.sort" md-on-reorder="getAll">
            <tr md-row>
                <th md-column md-order-by="name">Appliance name</th>
                <th md-column md-order-by="hostname">Hostname</th>
                <th md-column md-order-by="ipv4Address">IPv4 address</th>
                <th md-column>Owner</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="appliance" md-select-id="id"
                ng-repeat="appliance in appliances._embedded.applianceResourceList">
                <td md-cell>
                    <md-button class="md-primary" style="text-transform: none" ng-dblclick="edit(appliance)">
                        {{appliance.name}}
                        <md-tooltip md-delay="500" md-direction="right">Double click to edit</md-tooltip>
                    </md-button>
                </td>
                <td md-cell>{{appliance.hostname}}</td>
                <td md-cell>{{appliance.ipv4Address}}</td>
                <td md-cell>
                    <md-chips ng-model="appliance.owners" readonly="true" md-max-chips="5">
                        <md-chip-template>
                            {{$chip.firstName}}
                        </md-chip-template>
                    </md-chips>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <!-- pagination -->
    <md-table-pagination md-limit="pageRequest.size" md-limit-options="[5, 10, 20, 50]" md-page="pageRequest.page"
                         md-total="{{appliances.page.totalElements}}" md-page="{{appliances.page.number}}"
                         md-on-paginate="getAll" md-page-select
                         md-boundary-links="options.boundaryLinks"></md-table-pagination>
</md-card>