html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: $grey100;
  position: relative;
  height: 100%;
}

#bms-root {
  min-height: 100%;
  position: relative;
}

.hide {
  display: none !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
